<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^$ app/index.php [L]
    RewriteRule ^(.*)$ app/$1 [QSA,L]
</IfModule>

<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

<FilesMatch "\.(php|html|htm)$">
    <IfModule mod_headers>
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "*"
        Header set Access-Control-Allow-Headers "*"
    </IfModule>
</FilesMatch>

Options -Indexes